.mt-7rem {
  margin-top: 7rem;
}
.mt-10_5rem {
  margin-top: 10.5rem;
}

#memberLogin input {
  width: 20rem;
}

#memberLogin .btn-login {
  font-size: 1.5rem;
  color: var(--White);
  background-color: var(--IronGray-Deep);
}

#memberLogin .btn-login:hover {
  background-color: var(--IronGray);
}

#memberLogin .btn-login:active {
  color: var(--White);
  background-color: var(--IronGray-Deep);
}

#memberLogin .notYetRegister {
  text-align: center;
  color: var(--IronGray);
}

#memberLogin .notYetRegister:hover {
  color: var(--IronGray-Light);
}

#memberLogin .notYetRegister:active {
  color: var(--IronGray);
}

/*webkit 瀏覽器專用*/
#memberLogin ::-webkit-input-placeholder {
  font-size: 1.25rem; 
}
/*Firefox 4-18 瀏覽器專用*/
#memberLogin input::-moz-placeholder { 
  font-size: 1.25rem; 
}
/*Firefox 19+ 瀏覽器專用*/
#memberLogin input::-moz-placeholder{
font-size: 1.25rem
}
/*IE10 瀏覽器專用*/
#memberLogin:-ms-input-placeholder{
  font-size: 1.25rem;
}