.vh-83 {
  height: 83vh;
}

#changeBgColor {
  width: 100%;
  height: 10rem;
}

.memberpic {
  position: relative;
  width: 10.5rem;
  height: 10.5rem;
  background-color: var(--White);
  border-radius: 50%;
  margin-top: -6.5rem;
  margin-left: 3.5rem;
}

.memberpic img {
  position: absolute;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  object-fit: cover;
  object-position: center center;
}

#updateImgBtn, 
.memberInfoEdit {
  background-color: var(--IronGray-Deep);
  transition: .5s;
}

#updateImgBtn:hover, 
.memberInfoEdit:hover {
  scale: 1.01;
}

#updateImgBtn:active, 
.memberInfoEdit:active {
  scale: 1;
}

.memberInfoEdit span {
  letter-spacing: 0.25rem;
}

.deleteBtn {
  letter-spacing: 0.2rem;
  transition: .5s;
}

.deleteBtn:hover {
scale: 1.02;
}

.deleteBtn:active {
scale: 0.98;
}

.savebtn{
  background-color: crimson;
}

.photoedit{
  width: 100px;
  border: 1px solid black;
}

.ms-16rem {
  margin-left: 16rem;
}

#updateImg {
  position: relative;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-color: var(--IronGray-Light);
}

#updateImg .showimg {
  position: absolute;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  object-fit: cover;
  object-position: center center;
}
.modalop{
  height: 500px;
 
}
.modlatext{
  padding: 10px 30px;
  width: 100%;
  height: 600px;
  /* position: relative; */
  /* overflow: hidden; */
  /* overflow:scroll; */
  overflow-y: auto;
}
