.vh-83 {
  height: 83vh;
}

#changeBgColor {
  width: 100%;
  height: 10rem;
}

.memberpic {
  position: relative;
  width: 10.5rem;
  height: 10.5rem;
  background-color: var(--White);
  border-radius: 50%;
  margin-top: -6.5rem;
  margin-left: 3.5rem;
}

.memberpic img {
  position: absolute;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  object-fit: cover;
  object-position: center center;
}

main .memberInfoEdit {
  transition: .5s;
}

main .memberInfoEdit:hover {
  scale: 1.01;
}

main .memberInfoEdit:active {
  scale: 0.98;
}

.memberInfoEdit span {
  letter-spacing: 0.25rem;
}

.deleteBtn {
  letter-spacing: 0.2rem;
  transition: .5s;
}
.deleteBtn:hover {
scale: 1.02;
}
.deleteBtn:active {
scale: 0.98;
}
