.member-info {
  margin-left: 100px;
  font-size: 2.5rem;
  font-weight: bold;
}
.memberpage-info {
  /* margin-left: 100px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.memberpic {
  width: 150px;
  height: 150px;
  border-radius: 80px;
  background-color: rgba(216, 211, 211, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.memberpic img {
  width: 124px;
}
.memberpage-info span {
  font-size: 2rem;
  font-weight: bold;
  margin-right: 20px;
  columns: var(--black-Word);
}
.memberpage-info input {
  width: 550px;
  height: 67px;
  border-style: none;
  border-radius: 20px;
  font-size: 2rem;
  background-color: rgba(216, 211, 211, 1);
}

.edit-btn {
  display: flex;
  justify-content: space-around;
}
.edit-btn button {
  font-size: 1.5rem;
  width: 175px;
  height: 40px;
  border-radius: 50px;
  border-style: none;
  background-color: rgba(180, 199, 221, 1);
}
