:root {
  --IronGray-Deep: #2c3e50;
  --IronGray: #57687c;
  --IronGray-Light: #b4c7dd;
  --Pink: #f7cac9;
  --Pink-Deep: #f58b82;
  --Brown: #926b6a;
  --Red: #f17064;
  --Green: #77be6b;
  --Green-Light: #d1faca;
  --White: #ffffff;
  --bg-Primary-Gray: #f3f3f3;
  --bg-Second-Gray: #dddddd;
  --black-Word: #333333;
  --border-radius-big: 20px;
  --border-radius-med: 10px;
  --border-radius-small: 6px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC";
}

#navbar {
  padding: 0 10px 0 0;
  height: 107px;
  background-color: var(--IronGray-Deep);
  color: var(--White);
  letter-spacing: 0.25rem;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}
#navbar .container-fluid .navbar-brand {
  font-size: 2rem;
}
#navbar .container-fluid .navbar-toggler {
  color: var(--IronGray-Deep);
  background-color: var(--White);
}
#navbar .container-fluid a {
  color: var(--White);
  font-size: 1.7rem;
}
#navbar .container-fluid a:active {
  transform: scale(0.9);
}
#navbar .container-fluid .collapse {
  background-color: var(--IronGray-Deep);
}
#navbar .container-fluid .collapse .nav-member-icon,
#navbar .container-fluid .collapse .cart-icon {
  height: 2.5rem;
}
#navbar .container-fluid .collapse .nav-member-icon:hover,
#navbar .container-fluid .collapse .cart-icon:hover {
  transform: scale(1.1);
}
#navbar .container-fluid .collapse .nav-member-icon:active,
#navbar .container-fluid .collapse .cart-icon:active {
  transform: scale(0.9);
}
#navbar .container-fluid .collapse .nav-item {
  color: var(--White);
  display: inline-block;
  background-image: linear-gradient(#ffffff 0 0);
  background-position: 0 100%; /*OR bottom left*/
  background-size: 0% 0.125rem;
  background-repeat: no-repeat;
  transition: background-size 0.3s, background-position 0s 0.3s; /*change after the size immediately*/
}
#navbar .container-fluid .collapse .nav-item .dropdown-menu {
  background-color: var(--IronGray-Deep);
}
#navbar .container-fluid .collapse .nav-item .dropdown-menu .dropdown-item {
  font-size: 1.6rem;
}
#navbar .container-fluid .collapse .nav-item .dropdown-toggle::after {
  margin-left: -0.355em;
}
#navbar .container-fluid .collapse .nav-item .dropdown-menu :hover {
  background-color: var(--IronGray);
}
#navbar .container-fluid .collapse .nav-item:hover {
  color: var(--White);
  font-weight: bold;
  background-position: 100% 100%;
  background-size: 100% 0.125rem;
}
#navbar .container-fluid #search {
  display: flex;
}
#navbar .container-fluid #search .search__input {
  height: 2.5rem;
  background-color: #f4f2f2;
  border: none;
  border-radius: var(--border-radius-big);
  width: 18vw;
  margin-right: -2.5rem;
  padding-left: 10px;
  font-size: 1.15rem;
}
#navbar .container-fluid #search .search__input:focus {
  outline: none;
}
#navbar .container-fluid #search .search__button svg {
  color: var(--IronGray-Deep);
  margin-bottom: 7px;
  width: 30px;
}
#navbar .container-fluid #search .search__button:hover {
  transform: scale(1.1);
}
#navbar .container-fluid #search .search__button:active {
  transform: scale(0.9);
}
#cartBtn {
  border: none;
}
.card-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.cart-right {
  height: 200px;
}
.cart-quantity {
  width: 50px;
}
.total {
  font-size: 1.9rem;
}

#cartModal .modal-title {
  font-size: 2.2rem;
}
#cartModal .modal-footer #payBtn {
  background-color: var(--Red);
  color: white;
  border: none;
}
#cartModal .modal-footer #payBtn:hover {
  background-color: rgb(233, 79, 65);
}
#cartModal .modal-footer .btn {
  font-size: 1.8rem;
}
#cartModal .modal-footer .btn:hover {
  transform: scale(1.05);
}
#cartModal .modal-footer .btn:active {
  transform: scale(0.9);
}
#cartModal .modal-body .deleteBtn {
  color: gray;
  width: 40px;
  border: none;
  background-color: transparent;
  padding: 0;
}
#cartModal .modal-body .deleteBtn:hover {
  transform: scale(1.1);
}
#cartModal .modal-body .deleteBtn:active {
  transform: scale(0.9);
}
#cartModal .modal-body .addBtn:hover,
#cartModal .modal-body .minusBtn:hover {
  background-color: var(--IronGray-Light);
}
#cartModal #recommend-card {
  margin-top: 50px;
}
#cartModal #recommend-card .title {
  font-size: 1.5rem;
  padding-left: 20px;
  font-weight: bold;
}
#cartModal #recommend-card .card {
  width: 30%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 15px;
}
#cartModal #recommend-card .card img {
  width: 75%;
}
#cartModal #recommend-card .card p {
  font-size: 1.2rem;
}
#cartModal #recommend-card .card .recommend-card-btn {
  border: none;
  padding: 10px;
  border-radius: var(--border-radius-small);
  background-color: var(--Pink-Deep);
  color: white;
  font-size: 1.1rem;
}
#cartModal #recommend-card .card .recommend-card-btn:hover {
  transform: scale(1.1);
  background-color: var(--Red);
}
#cartModal #recommend-card .card .recommend-card-btn:active {
  transform: scale(0.9);
}
.member-spacing {
  height: 80px;
  margin-bottom: 10px;
}
#memberbtn {
  border: none;
}
#memberModal .jump-title {
  font-size: 2.5rem;
  margin-bottom: -40px;
  font-weight: bold;
}
#memberModal .member-account {
  font-size: 1.5rem;
  margin: 20px;
}
#memberModal .member-account .member-inp {
  border-radius: 10px;
}
#memberModal .btn-login {
  font-size: 1.5rem;
  color: var(--White);
  background-color: var(--Red);
}
#memberModal .btn-login:hover {
  background-color: rgb(233, 79, 65);
}
#memberModal .btn-register {
  font-size: 1.5rem;
  color: var(--White);
  background-color: rgb(115, 115, 115);
}
#memberModal .btn-register:hover {
  background-color: rgb(99, 99, 99);
}

@keyframes slide-up {
  0% {
    transform: translate3d(0, 100%, 0);
  }
  50% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes showup {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes slidein {
  0% {
    opacity: 0;
    margin-left: -800px;
  }
  20% {
    opacity: 0;
    margin-left: -800px;
  }
  35% {
    opacity: 1;
    margin-left: 0px;
  }
  100% {
    margin-left: 0px;
  }
}
@keyframes reveal {
  0% {
    opacity: 0;
    width: 0px;
  }
  20% {
    opacity: 1;
    width: 0px;
  }
  30% {
    width: 355px;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 355px;
  }
}

@keyframes loading-spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
