:root {
  --IronGray-Deep: #2c3e50;
  --IronGray: #57687c;
  --IronGray-Light: #b4c7dd;
  --Pink: #f7cac9;
  --Pink-Deep: #f58b82;
  --Brown: #926b6a;
  --Red: #f17064;
  --Green: #77be6b;
  --Green-Light: #d1faca;
  --White: #ffffff;
  --bg-Primary-Gray: #f3f3f3;
  --bg-Second-Gray: #dddddd;
  --black-Word: #333333;
  --border-radius-big: 20px;
  --border-radius-med: 10px;
  --border-radius-small: 6px;
}

#navbar {
  padding: 0.5rem 0;
  height: 6rem;
  background-color: var(--IronGray-Deep);
  color: var(--White);
  letter-spacing: 0.25rem;
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100%;
}
/* #navbar .container-fluid .navbar-brand {
  font-size: 2rem;
  display: flex;
  align-items: center;
  gap: 5px;
} */
/* #navbar .container-fluid .navbar-brand .logoname {
  color: white;
} */
/* #navbar .container-fluid .navbar-toggler {
  color: var(--IronGray-Deep);
  background-color: var(--White);
} */
#navbar .container-fluid a {
  color: var(--White);
  font-size: 1.6rem;
}
#navbar .container-fluid a:active {
  transform: scale(0.98);
}
#navbar .container-fluid .collapse {
  background-color: var(--IronGray-Deep);
}
/* #navbar .container-fluid .collapse .nav-member-icon,
#navbar .container-fluid .collapse .cart-icon {
  height: 2rem;
  margin: 0 10px;
} */
/* #navbar .container-fluid .collapse .nav-member-icon:hover {
  transform: scale(1.03);
} */
/* #navbar .container-fluid .collapse .nav-member-icon:active {
  transform: scale(0.98);
} */
#navbar .container-fluid .collapse .nav-item {
  color: var(--White);
  display: inline-block;
  background-image: linear-gradient(#ffffff 0 0);
  background-position: 0 100%; /*OR bottom left*/
  background-size: 0% 0.125rem;
  background-repeat: no-repeat;
  transition: background-size 0.3s, background-position 0s 0.3s; /*change after the size immediately*/
}
#navbar .container-fluid .collapse .nav-item:hover {
  /* color: var(--White); */
  /* font-weight: bold; */
  background-position: 100% 100%;
  background-size: 100% 0.125rem;
}
#navbar .container-fluid .collapse .nav-item .dropdown-menu {
  background-color: var(--IronGray-Deep);
}
#navbar .container-fluid .collapse .nav-item .dropdown-menu .dropdown-item {
  font-size: 1.6rem;
}
#navbar .container-fluid .collapse .nav-item .dropdown-toggle::after {
  margin-left: -0.355em;
}
#navbar .container-fluid .collapse .nav-item .dropdown-menu :hover {
  background-color: var(--IronGray);
}
#navbar .container-fluid #navSearch {
  display: flex;
  margin-right: 15px;
}
#navbar .container-fluid #navSearch .search__input {
  height: 2.5rem;
  background-color: #f4f2f2;
  border: none;
  border-radius: var(--border-radius-small);
  width: 18vw;
  margin-right: -2.5rem;
  padding-left: 10px;
  font-size: 1.15rem;
}

/*webkit 瀏覽器專用*/
#navSearch ::-webkit-input-placeholder {
  font-size: 1.15rem; 
}
/*Firefox 4-18 瀏覽器專用*/
#navSearch input::-moz-placeholder { 
  font-size: 1.15rem; 
}
/*Firefox 19+ 瀏覽器專用*/
#navSearch input::-moz-placeholder{
font-size: 1.15rem
}
/*IE10 瀏覽器專用*/
#navSearch:-ms-input-placeholder{
  font-size: 1.15rem;
}

#navbar .container-fluid #navSearch .search__input:focus {
  outline: none;
}
#navbar .container-fluid #navSearch .search__button {
  border: none;
  border-radius: var(--border-radius-med);
}
#navbar .container-fluid #navSearch .search__button svg {
  color: var(--IronGray-Deep);
  /* margin-bottom: 7px; */
  width: 25px;
}
/* #navbar .container-fluid #navSearch .search__button:hover {
  transform: scale(1.1);
}
#navbar .container-fluid #navSearch .search__button:active {
  transform: scale(0.9);
} */
#cartBtn {
  border: none;
  z-index: 100;
}
/* #cartBtn:hover svg {
  transform: scale(1.1);
} */
/* #cartBtn:active svg {
  transform: scale(0.98);
} */
#cartBtn:hover .totalCartItemAmount {
  transform: scale(1.03);
}
#cartBtn:active .totalCartItemAmount {
  transform: scale(0.98);
}

#cartBtn .totalCartItemAmount {
  background-color: #a6cffd;
  color: var(--IronGray-Deep);
  border-radius: 50%;
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #a6cffd;
  font-weight: bold;
  font-size: 1.2rem;
  position: absolute;
  top: 15px;
  right: 105px;
}
#myCart .card {
  background-color: var(--bg-Primary-Gray);
}
#myCart .card .card-img-top {
  width: 170px;
}
#myCart .card .card-body {
  width: 40%;
}
#myCart .card .card-body .card-text,
#myCart .card .card-body .card-title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
#myCart .cart-right {
  height: 200px;
  width: 20%;
}
#myCart .cart-right .amount {
  font-size: 1.5rem;
}
#myCart .cart-right .total {
  font-size: 1.6rem;
}
#myCart #cartTotal {
  font-size: 1.8rem;
  text-align: right;
  font-weight: bold;
  padding: 10px;
}

#myCart .btn-login {
  font-size: 1.75rem;
  color: var(--White);
  background-color: var(--Red);
}
#myCart .btn-login:hover {
  background-color: rgb(233, 79, 65);
}
#myCart .btn-login:active {
  background-color: var(--Red);
}

/* #cartModal .modal-title {
  font-size: 2.2rem;
} */
#cartModal .modal-footer #payBtn {
  background-color: var(--Red);
  color: white;
  border: none;
}
#cartModal .modal-footer #payBtn:hover {
  background-color: rgb(233, 79, 65);
}
#cartModal .modal-footer .btn {
  background-color: gray;
  font-size: 1.8rem;
}
#cartModal .modal-footer .btn:hover {
  transform: scale(1.05);
  background-color: rgb(105, 105, 105);
}
#cartModal .modal-footer .btn:active {
  transform: scale(0.9);
}

#cartModal .modal-body .amount {
  background-color: var(--bg-Primary-Gray);
  color: var(--black-Word);
  text-align: center;
  border: none;
  width: 50px;
  margin: 0 1px 0 0;
}
#cartModal .modal-body .amount:focus {
  border: none;
}
#cartModal .modal-body .deleteBtn {
  color: gray;
  width: 40px;
  border: none;
  background-color: transparent;
  padding: 30px 0 0 0;
}
#cartModal .modal-body .deleteBtn:hover {
  transform: scale(1.1);
}
#cartModal .modal-body .deleteBtn:active {
  transform: scale(0.9);
}

#cartModal .modal-body .addBtn,
#cartModal .modal-body .minusBtn {
  background-color: var(--bg-Second-Gray);
}
#cartModal .modal-body .addBtn:hover,
#cartModal .modal-body .minusBtn:hover {
  background-color: var(--IronGray-Light);
}
#cartModal #recommend-card {
  margin-top: 50px;
}
#cartModal #recommend-card .title {
  font-size: 1.5rem;
  padding-left: 20px;
  font-weight: bold;
}
#cartModal #recommend-card .card {
  width: 30%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 15px;
}
#cartModal #recommend-card .card img {
  width: 75%;
}
#cartModal #recommend-card .card p {
  font-size: 1.2rem;
}
#cartModal #recommend-card .card .recommend-card-btn {
  border: none;
  padding: 10px;
  border-radius: var(--border-radius-small);
  background-color: var(--Pink-Deep);
  color: white;
  font-size: 1.1rem;
}
#cartModal #recommend-card .card .recommend-card-btn:hover {
  transform: scale(1.1);
  background-color: var(--Red);
}
#cartModal #recommend-card .card .recommend-card-btn:active {
  transform: scale(0.9);
}

.member-spacing {
  height: 80px;
  margin-bottom: 10px;
}
#memberbtn {
  border: none;
}
#memberModal .jump-title {
  font-size: 2.5rem;
  margin-bottom: -40px;
  font-weight: bold;
}
#memberModal .member-account {
  font-size: 1.5rem;
  margin: 20px;
}
#memberModal .member-account .member-inp {
  border-radius: 10px;
}
.member-inp {
  width: 260px;
  height: 50px;
  border-radius: 10px;
  font-size: 1.3rem;
  padding-left: 10px;
}

#memberModal .btn-login {
  font-size: 1.5rem;
  color: var(--White);
  background-color: var(--Red);
}
#memberModal .btn-login:hover {
  background-color: rgb(233, 79, 65);
}
#memberModal .btn-register {
  font-size: 1.5rem;
  color: var(--White);
  background-color: rgb(115, 115, 115);
}
#memberModal .btn-register:hover {
  background-color: rgb(99, 99, 99);
}

@keyframes slide-up {
  0% {
    transform: translate3d(0, 100%, 0);
  }
  50% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes showup {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes slidein {
  0% {
    opacity: 0;
    margin-left: -800px;
  }
  20% {
    opacity: 0;
    margin-left: -800px;
  }
  35% {
    opacity: 1;
    margin-left: 0px;
  }
  100% {
    margin-left: 0px;
  }
}
@keyframes reveal {
  0% {
    opacity: 0;
    width: 0px;
  }
  20% {
    opacity: 1;
    width: 0px;
  }
  30% {
    width: 355px;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 355px;
  }
}

@keyframes loading-spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
