#uploadImg {
  position: relative;
  width: 11rem;
  height: 11rem;
  border-radius: 50%;
  background-color: var(--IronGray-Light);
}

#uploadImg .showimg {
  position: absolute;
  width: 11rem;
  height: 11rem;
  border-radius: 50%;
  object-fit: cover;
  object-position: center center;
}

#uploadImgBtn,
#registerBtn {
  background-color: var(--IronGray-Deep);
  transition: .3s;
}

#uploadImgBtn:hover,
#registerBtn:hover {
  background-color: var(--IronGray);
}

#uploadImgBtn:active,
#registerBtn:active {
  background-color: var(--IronGray-Deep);
}

#registerForm .notYetLogin {
  color: var(--IronGray);
  transition: .3s;
}

#registerForm .notYetLogin:hover {
  color: var(--IronGray-Light);
}

#registerForm .notYetLogin:active {
  color: var(--IronGray);
}

/* placeholder */

/*webkit 瀏覽器專用*/
#registerForm ::-webkit-input-placeholder {
  font-size: 1.2rem;
  letter-spacing: 0.12rem;
}

/*Firefox 4-18 瀏覽器專用*/
#registerForm input::-moz-placeholder {
  font-size: 1.2rem;
  letter-spacing: 0.12rem;
}

/*Firefox 19+ 瀏覽器專用*/
#registerForm input::-moz-placeholder {
  font-size: 1.2rem;
  letter-spacing: 0.12rem;
}

/*IE10 瀏覽器專用*/
#registerForm:-ms-input-placeholder {
  font-size: 1.2rem;
  letter-spacing: 0.12rem;
}