/* input::placeholder{
  font-size: 1.3rem;
  letter-spacing: 3px;
  padding-left: 7px;
} */
/* .register-area{
  margin-top: 180px;
  position: relative;
} */
/* .register-title{
  font-size: 2.5rem;
  font-weight: bold;
} */
/* .input-row{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
} */
/* span{
  font-size: 2rem;
  font-weight: bold;
  margin-right:20px;
} */
/* .regi-input{
  width: 25rem;
  height: 2.75rem;
  border: 1px solid rgb(150, 150, 150);
  border-radius: 0.5rem;
  background-color: rgba(210, 206, 206, 1);
  margin-left: -30px;
  font-size: 1.5rem;
  padding-left: 15px;
} */
/* .short-lab{
  margin-left: 70px;
} */
/* .input-row-radio{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  margin-left: -30px;
} */
/* .numinput::placeholder{
  color: red;
} */

/* .sexoption{
  
  width: 370px;
} */
/* .inputradio-male,
.inputradio-female{
  margin-left: 10px;
  width: 30px;
  height: 30px;
  margin-right: 20px;
} */
/* label{
  margin-right: 50px;
  font-size: 2rem;
  font-weight: bold;
} */
/* .pwdc span{
  margin-left: -60px;
} */
/* .register-btn{
  width: 250px;
  height: 60px;
  background-color: rgb(233, 79, 65);
  color: white;
  border-radius: 100px;
  border-style: none;
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 25px;
} */
/* .register-fast{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  top: 100px;
  right: 30px;
} */
/* .register-fast-row{
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(44, 62, 80, 1);
  color: white;
  border-radius: 20px;
  margin-left: 40px;
  margin-right: 40px;
} */
/* .register-fast-row p{
  font-size: 2rem;
  padding: 3px 10px;
} */
/* .member-photo{
  position: absolute;
  top: 100px;
  left: 30px;
  width: 180px;
  height: 180px;
  
} */

/* .photo{
  border: 5px solid rgb(121, 119, 119);
  border-radius: 100px;
  width: 150px;
  height: 150px;
} */

#uploadImg {
  position: relative;
  width: 11rem;
  height: 11rem;
  border-radius: 50%;
  background-color: var(--IronGray-Light);
}

#uploadImg .showimg {
  position: absolute;
  width: 11rem;
  height: 11rem;
  border-radius: 50%;
  object-fit: cover;
  object-position: center center;
}

#uploadImgBtn, #registerBtn {
  background-color: var(--IronGray-Deep);
  transition: .3s;
}

#uploadImgBtn:hover, #registerBtn:hover {
  background-color: var(--IronGray);
}

#uploadImgBtn:active, #registerBtn:active {
  background-color: var(--IronGray-Deep);
}

/*webkit 瀏覽器專用*/
#registerForm ::-webkit-input-placeholder {
  font-size: 1.2rem;
   letter-spacing: 0.12rem;
}
/*Firefox 4-18 瀏覽器專用*/
#registerForm input::-moz-placeholder { 
  font-size: 1.2rem;
   letter-spacing: 0.12rem;
}
/*Firefox 19+ 瀏覽器專用*/
#registerForm input::-moz-placeholder{
font-size: 1.2rem;
letter-spacing: 0.12rem;
}
/*IE10 瀏覽器專用*/
#registerForm:-ms-input-placeholder{
  font-size: 1.2rem;
  letter-spacing: 0.12rem;
}

#registerForm .notYetLogin {
  color: var(--IronGray);
  transition: .3s;
}

#registerForm .notYetLogin:hover {
  color: var(--IronGray-Light);
}

#registerForm .notYetLogin:active {
  color: var(--IronGray);
}