:root {
  --IronGray-Deep: #2c3e50;
  --IronGray: #57687c;
  --IronGray-Light: #b4c7dd;
  --Pink: #f7cac9;
  --Pink-Deep: #f58b82;
  --Brown: #926b6a;
  --Red: #f17064;
  --Green: #77be6b;
  --Green-Light: #d1faca;
  --White: #ffffff;
  --bg-Primary-Gray: #f3f3f3;
  --bg-Second-Gray: #dddddd;
  --black-Word: #333333;
  --border-radius-big: 20px;
  --border-radius-med: 10px;
  --border-radius-small: 6px;
}

.shop-main-content {
  margin-bottom: -100px;
}
.shop-main-content #shopMainTitle {
  font-size: 3rem;
  font-weight: bold;
  color: var(--IronGray-Deep);
  margin-left: 22% !important;
  letter-spacing: 8px;
}
.shop-main-content #shop {
  display: flex;
  gap: 30px;
}
.shop-main-content #shop .shopSidebar {
  align-items: center;
  margin-top: 57px;
  width: 100%;
}
.shop-main-content #shop .shopSidebar .shopSidebarSearch {
  text-align: left;
  font-size: 1.5rem;
  border-radius: 2px;
}
.shop-main-content #shop .shopSidebar .shopSidebarSearch .shopTitle {
  background-color: var(--IronGray-Deep);
  color: white;
  padding: 7px 60px 7px 15px;
  border-radius: 2px;
}
.shop-main-content #shop .shopSidebar .shopSidebarSearch input {
  width: 100%;
  font-size: 1.3rem;
  border-radius: 5px;
  border: none;
  padding: 3px 0px 5px 15px;
}
.shop-main-content #shop .shopSidebar .shopSorting {
  text-align: left;
}
.shop-main-content #shop .shopSidebar .shopSorting p {
  background-color: var(--IronGray-Deep);
  color: white;
  padding: 5px 60px 0px 15px;
  border-radius: 2px;
}
.shop-main-content #shop .shopSidebar .shopSorting p span {
  font-size: 1.5rem;
}
.shop-main-content #shop .shopSidebar .shopSorting select {
  margin-top: 20px;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 1.3rem !important;
  border: none;
  width: 100%;
  color: gray;
  padding: 5px 10px;
}
.shop-main-content #shop .shopSidebar .shopType {
  text-align: left;
  font-size: 1.5rem;
}
.shop-main-content #shop .shopSidebar .shopType .shopTitle {
  background-color: var(--IronGray-Deep);
  color: white;
  padding: 7px 60px 7px 15px;
  border-radius: 2px;
}
.shop-main-content #shop .shopSidebar .shopType .shopTypeBtn {
  margin: 30px 0 50px 0;
  display: flex;
  flex-direction: column;
  width: 200px;
  padding-left: 20px;
}
.shop-main-content #shop .shopSidebar .shopType .shopTypeBtn button {
  font-size: 1.3rem;
  border: none;
  background-color: transparent;
  text-align: left;
  color: gray;
  font-weight: 500;
}
.shop-main-content #shop .shopSidebar .shopType .shopTypeBtn button:hover, .shop-main-content #shop .shopSidebar .shopType .shopTypeBtn button:focus {
  color: var(--IronGray-Deep);
}
.shop-main-content #shop .row {
  width: 70vw;
}
.shop-main-content #shop .row .card {
  background-color: var(--bg-Primary-Gray);
  border: none;
}
.shop-main-content #shop .row .card:hover .toggleBtn {
  animation: slideUp 0.5s ease forwards;
  display: flex;
}
.shop-main-content #shop .row .card .book-title {
  font-size: 1.2rem;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.shop-main-content #shop .row .card .card-text {
  font-size: 1.3rem;
  color: gray;
}
.shop-main-content #shop .row .card img {
  width: 100%;
  height: 240px;
  background-color: var(--bg-Second-Gray);
  padding: 20px 80px;
  border-radius: 1px;
}
.shop-main-content #shop .row .card .toggleBtn {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  border: none;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.shop-main-content #shop .row .card .toggleBtn .seeMoreBtn {
  width: 100%;
  font-size: 1.2rem;
  background-color: var(--IronGray-Deep);
  border-radius: 5px;
  padding: 15px 12px;
}
.shop-main-content #shop .row .card .toggleBtn .seeMoreBtn:hover {
  transform: scale(1.05);
}
.shop-main-content #shop .row .card .toggleBtn .seeMoreBtn a {
  color: white;
  font-weight: bold;
}
.shop-main-content #shop .row .card .btnGray {
  font-size: 1.2rem;
  background-color: gray;
}
.shop-main-content #shop .row .card .btnGray:hover {
  background-color: rgb(114, 114, 114);
}
.shop-main-content #shop .page {
  cursor: pointer;
}
.shop-main-content #shop .page .pagination {
  margin-top: 30px;
  color: var(--IronGray-Deep) !important;
  --bs-pagination-color: var(--IronGray-Deep);
}
.shop-main-content #shop .page .pagination .page-link {
  font-size: 1.4rem;
  border: none;
  margin: 0;
  background-color: var(--bg-Second-Gray);
  padding: 6px 15px;
}
.shop-main-content #shop .page .pagination .page-link span {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0px;
}
.shop-main-content #shop .page .pagination .page-link:hover {
  color: var(--White);
  background-color: var(--IronGray-Deep);
}
.shop-main-content #shop .page .pagination .page-link:focus {
  background-color: var(--IronGray-Deep);
}
.shop-main-content #shop .page .pagination .page-number {
  display: flex;
  align-items: center;
}
.shop-main-content #shop .page .pagination .page-link.active,
.shop-main-content #shop .page .pagination .active > .page-link {
  background-color: var(--IronGray-Deep);
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
#myproductContainer {
  margin-top: 180px;
}
#myproductContainer #myproduct {
  display: flex;
  gap: 100px;
  margin-bottom: 50px;
}
#myproductContainer #myproduct #myproductLeft {
  width: 50%;
  align-items: center;
  gap: 30px;
}
#myproductContainer #myproduct #myproductLeft #myproductLeftSmall {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
#myproductContainer #myproduct #myproductLeft #myproductLeftSmall .imageBox {
  background-color: var(--bg-Second-Gray);
  border-radius: var(--border-radius-med);
  padding: 10px 25px;
  border: 2px solid var(--bg-Second-Gray);
  cursor: pointer;
}
#myproductContainer #myproduct #myproductLeft #myproductLeftSmall .imageBox img {
  width: 130px;
  height: 150px;
}
#myproductContainer #myproduct #myproductRight {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 20px;
  gap: 20px;
  font-size: 1.35rem;
}
#myproductContainer #myproduct #myproductRight .title {
  font-size: 2.2rem;
}
#myproductContainer #myproduct #myproductRight #amount {
  display: flex;
  height: 50px;
  font-size: 1.5rem;
  margin-left: 30px;
}
#myproductContainer #myproduct #myproductRight #amount #minusBtn,
#myproductContainer #myproduct #myproductRight #amount #plusBtn {
  width: 50px;
  border: 1px solid var(--bg-Primary-Gray);
  background-color: var(--bg-Second-Gray);
  color: gray;
  border-radius: 2px;
}
#myproductContainer #myproduct #myproductRight #amount input {
  width: 70px;
  border: 1px solid var(--bg-Second-Gray);
}
#myproductContainer #myproduct #myproductRight #addToCart {
  border: none;
  background-color: var(--Red);
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
}
#myproductContainer #desc {
  font-size: 1.6rem;
}

#toast {
  background-color: var(--IronGray-Light);
  width: 500px;
  padding: 15px;
  border-radius: var(--border-radius-small);
  font-size: 1.5rem;
  position: fixed;
  right: 5%;
  top: 65%;
  z-index: 10;
}

#hoverImg:hover {
  transform: scale(1.1);
}

@media (min-width: 768px) {
  .row-cols-md-4 > * {
    width: 33% !important;
  }
}/*# sourceMappingURL=shop.css.map */