.nav-link {
  transition: .5s;
}

.nav-link:hover {
  background-color: var(--IronGray-Light);
  scale: 1.01;
}

.nav-link:active {
  background-color: var(--IronGray-Deep);
  scale: 0.98;
}

.logout {
  transition: .5s;
}

.logout:hover {
  scale: 1.01;
}

.logout:active {
  scale: 0.98;
}

.logout span {
  letter-spacing: 0.11rem;
}