:root {
  --IronGray-Deep: #2c3e50;
  --IronGray: #57687c;
  --IronGray-Light: #b4c7dd;
  --Pink: #f7cac9;
  --Pink-Deep: #f58b82;
  --Brown: #926b6a;
  --Red: #f17064;
  --Green: #77be6b;
  --Green-Light: #d1faca;
  --White: #ffffff;
  --bg-Primary-Gray: #f3f3f3;
  --bg-Second-Gray: #dddddd;
  --black-Word: #333333;
  --border-radius-big: 20px;
  --border-radius-med: 10px;
  --border-radius-small: 6px;
}
.textcard{
  display: flex;
  justify-content: center;
  align-items: center;
}
.textbox{
background-color: #57687c;
color: white;
/* font-weight: bold; */
width: 100px;
height: 100px;
font-size: 2rem;
border-radius: 20px;

}
.textrow{
  font-size: 2rem;
  margin-left: 15px;
}
