.industry-page-title-container{
  margin-top: 200px;
  margin-bottom: 100px;
}
.industry-page-title{
  font-size: 3rem;
  font-weight: bold;
}
.industry-page-stats{
  font-size: 2.5rem;
  margin-bottom: 50px;
}
.industry-page-content{
  font-size: 2rem;
}

.industry-page-chart{
  margin-top: 100px;
  /* height: 400px; */
  /* width: 50%; */
}
.ranking-board{
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 50px;
  margin-top: 50px;
}
table{
  font-size: 2rem;
  margin-bottom: 100px;
}
.ranking-th{
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 50px;
}
.ranking-row{
  margin-bottom: 30px;
  padding-bottom: 30px;
}
.ranking-text{
  color: rgba(241, 112, 100, 1);
}
