/* 載入 Google Fonts - Noto Sans TC  */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url(../../plugins/bootstrap/bootstrap.css);
@import url(../nav/navbar&footer.css);
@import url(./news_main.css);

/* card-hover */
.card .tag-cloud-card {
  transition: .4s;
  color: var(--IronGray-Deep);
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.15);
}

.card .tag-cloud-card:hover {
  transform: scale(1.01);
  color: var(--IronGray-Deep);
}

.hot-news-ranking a {
  text-decoration: none;
  color: var(--IronGray-Deep);
}

.hot-news-ranking a:hover {
  font-weight: bold;
}