:root {
  --IronGray-Deep: #2c3e50;
  --IronGray: #57687c;
  --IronGray-Light: #b4c7dd;
  --Pink: #f7cac9;
  --Pink-Deep: #f58b82;
  --Brown: #926b6a;
  --Red: #f17064;
  --Green: #77be6b;
  --Green-Light: #d1faca;
  --White: #ffffff;
  --bg-Primary-Gray: #f3f3f3;
  --bg-Second-Gray: #dddddd;
  --black-Word: #333333;
  --border-radius-big: 20px;
  --border-radius-med: 10px;
  --border-radius-small: 6px;
}
#navbar {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC";
  font-size: 1.5rem;
  padding: 0 10px 0 0;
  height: 107px;
  background-color: var(--IronGray-Deep);
  color: var(--White);
  letter-spacing: 0.25rem;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}
.logoname{
  color: var(--White);
  font-size: 2rem;
}
.pagetitle{
  color: var(--White);
}
.search__input {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC";
  padding: 0 10px 0 0;
  background-color: #f4f2f2;
  border: 2px solid #2c3e50;
  border-radius: var(--border-radius-big);
  font-size: 1.3rem;
  letter-spacing: 0.15rem;
}
.bi-search{
  width:10px;
}