:root {
  --IronGray-Deep: #2c3e50;
  --IronGray: #57687c;
  --IronGray-Light: #b4c7dd;
  --Pink: #f7cac9;
  --Pink-Deep: #f58b82;
  --Brown: #926b6a;
  --Red: #f17064;
  --Green: #77be6b;
  --Green-Light: #d1faca;
  --White: #ffffff;
  --bg-Primary-Gray: #f3f3f3;
  --bg-Second-Gray: #dddddd;
  --black-Word: #333333;
  --border-radius-big: 20px;
  --border-radius-med: 10px;
  --border-radius-small: 6px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC";
}

#navbar {
  padding: 0 10px 0 0;
  height: 107px;
  background-color: var(--IronGray-Deep);
  color: var(--White);
  letter-spacing: 0.25rem;
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
}
#navbar .container-fluid .navbar-brand {
  font-size: 2rem;
}
#navbar .container-fluid .navbar-toggler {
  color: var(--IronGray-Deep);
  background-color: var(--White);
}
#navbar .container-fluid a {
  color: var(--White);
  font-size: 1.7rem;
}
#navbar .container-fluid a:active {
  transform: scale(0.9);
}
#navbar .container-fluid .collapse {
  background-color: var(--IronGray-Deep);
}
#navbar .container-fluid .collapse .nav-member-icon,
#navbar .container-fluid .collapse .cart-icon {
  height: 2.5rem;
}
#navbar .container-fluid .collapse .nav-member-icon:hover,
#navbar .container-fluid .collapse .cart-icon:hover {
  transform: scale(1.1);
}
#navbar .container-fluid .collapse .nav-member-icon:active,
#navbar .container-fluid .collapse .cart-icon:active {
  transform: scale(0.9);
}
#navbar .container-fluid .collapse .nav-item {
  color: var(--White);
  display: inline-block;
  background-image: linear-gradient(#ffffff 0 0);
  background-position: 0 100%; /*OR bottom left*/
  background-size: 0% 0.125rem;
  background-repeat: no-repeat;
  transition: background-size 0.3s, background-position 0s 0.3s; /*change after the size immediately*/
}
#navbar .container-fluid .collapse .nav-item .dropdown-menu {
  background-color: var(--IronGray-Deep);
}
#navbar .container-fluid .collapse .nav-item .dropdown-menu .dropdown-item {
  font-size: 1.6rem;
}
#navbar .container-fluid .collapse .nav-item .dropdown-toggle::after {
  margin-left: -0.355em;
}
#navbar .container-fluid .collapse .nav-item .dropdown-menu :hover {
  background-color: var(--IronGray);
}
#navbar .container-fluid .collapse .nav-item:hover {
  color: var(--White);
  font-weight: bold;
  background-position: 100% 100%;
  background-size: 100% 0.125rem;
}
#navbar .container-fluid #search {
  display: flex;
}
#navbar .container-fluid #search .search__input {
  height: 2.5rem;
  background-color: #f4f2f2;
  border: none;
  border-radius: var(--border-radius-big);
  width: 18vw;
  margin-right: -2.5rem;
  padding-left: 10px;
  font-size: 1.15rem;
}
#navbar .container-fluid #search .search__input:focus {
  outline: none;
}
#navbar .container-fluid #search .search__button svg {
  color: var(--IronGray-Deep);
  margin-bottom: 7px;
  width: 30px;
}
#navbar .container-fluid #search .search__button:hover {
  transform: scale(1.1);
}
#navbar .container-fluid #search .search__button:active {
  transform: scale(0.9);
}

#cartModal .modal-footer #payBtn {
  background-color: var(--Red);
  color: white;
  border: none;
}
#cartModal .modal-footer #payBtn:hover {
  background-color: rgb(233, 79, 65);
}
#cartModal .modal-body .deleteBtn {
  color: gray;
  width: 40px;
  border: none;
  background-color: transparent;
  padding: 0;
}
#cartModal .modal-body .deleteBtn:hover {
  transform: scale(1.1);
}
#cartModal .modal-body .deleteBtn:active {
  transform: scale(0.9);
}
#cartModal .modal-body .addBtn:hover,
#cartModal .modal-body .minusBtn:hover {
  background-color: var(--IronGray-Light);
}

#memberModal .jump-title {
  font-size: 2.5rem;
  margin-bottom: -40px;
  font-weight: bold;
}
#memberModal .member-account {
  font-size: 1.5rem;
  margin: 20px;
}
#memberModal .member-account .member-inp {
  border-radius: 10px;
}
#memberModal .btn-login {
  font-size: 1.5rem;
  color: var(--White);
  background-color: var(--Red);
}
#memberModal .btn-login:hover {
  background-color: rgb(233, 79, 65);
}
#memberModal .btn-register {
  font-size: 1.5rem;
  color: var(--White);
  background-color: rgb(115, 115, 115);
}
#memberModal .btn-register:hover {
  background-color: rgb(99, 99, 99);
}

#search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin-right: 22px;
}
#search .search__input {
  background-color: #f4f2f2;
  color: var(--black-Word);
  border-radius: 6px;
  height: 2.5rem;
  text-align: left;
  font-size: var(--fz-3);
  background-color: #f4f2f2;
  border: none;
  color: var(--black-Word);
  border-radius: 90px;
  width: 14em;
  margin-right: -3rem;
  padding-left: 0.938rem;
}
#search .search__input:focus {
  outline: none;
}
#search .search__input::-webkit-input-placeholder {
  font-weight: 30%;
  color: gray;
}
#search .search__button {
  background: none;
  border: none;
  padding: 0;
  margin-bottom: 0rem;
}
#search .search__button:hover {
  cursor: pointer;
}

.sidebar {
  position: fixed;
  top: 50px;
  height: 100%;
  width: 30%;
  max-width: 320px;
  min-width: 200px;
  background: var(--bg-Primary-Gray);
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sidebar #user {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar #user .avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #ccc;
}
.sidebar #user .avatar .sidebar-userphoto {
  width: 50px;
}
.sidebar #userName {
  font-size: 2rem;
  display: flex;
  justify-content: center;
}
.sidebar a {
  color: #878787;
  font-size: 1.8rem;
}
.sidebar .nav {
  display: flex;
  flex-direction: column;
}
.sidebar .nav .nav-item {
  display: flex;
  align-items: center;
}
.sidebar .nav .nav-item .wordhover:hover {
  transition: all 0.3s;
  color: var(--IronGray-Deep) !important;
}
.sidebar .nav .nav-item svg {
  width: 45px;
  color: var(--White);
  background-color: #ccc;
  border-radius: var(--border-radius-small);
  padding: 10px;
  margin: 5px;
}
.sidebar .nav .subitem {
  margin-left: 80px;
  display: flex;
}
.sidebar .nav .subitem a {
  font-size: 1.3rem;
  margin-top: -15px;
}
.sidebar .logout {
  margin-top: 50px;
}

.main-content {
  position: absolute;
  top: 100px;
  width: 65%;
  margin-left: 30%;
}
.main-content #title {
  margin-top: 30px;
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--IronGray-Deep);
}
.main-content .row .card {
  height: 290px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-Second-Gray);
  border: none;
}
.main-content .row .card .card-title {
  font-size: 1.6rem;
}
.main-content .row .card .card-text {
  font-size: 1.4rem;
}
.main-content .row .card img {
  height: 150px;
}
.main-content .row .card .btnRed {
  background-color: var(--Red);
  color: var(--White);
  font-size: 1.3rem;
}
.main-content .page .page-link {
  font-size: 1.4rem;
  border: none;
  color: var(--IronGray-Deep);
  margin: 0;
}
.main-content .page .page-link:hover {
  color: var(--Red) !important;
}/*# sourceMappingURL=shop_book.css.map */